/.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
.phpunit
/phpunit.xml
.idea
/.web-server-pid

/public/build/*
!/public/build/.gitkeep

/public/storage/logos/*
!/public/storage/logos/.gitkeep

/public/storage/documents/*
!/public/storage/documents/.gitkeep
