<!DOCTYPE html>
<html>
<head>
    <title>Invoice manager {% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('../assets/images/favicon.jpg') }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('auth-app') }}
    {% endblock %}
</head>
<body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<div class="container">
    <div class="row auth-box">
        {% block body %}
            <!-- Place to content page -->
        {% endblock %}
    </div>
</div>

</body>
</html>
