{% extends 'base/base.html.twig' %}

{% block body %}

    <div class="main-container">

        <p class="text-center mt-100">Witaj w <strong>invoice manager</strong>!</p>
        <p class="text-center">Wybierz opcję <a href="{{ path('generate-invoice') }}">tworzenia faktury</a> i sie ciesz.</p>

    </div>

{% endblock %}