{% extends 'base/base.html.twig' %}

{% block body %}

    <div class="col-12 align-content-center" style="margin-top: 300px;">

        <p class="text-center mt-100">Welcome to <strong>invoice manager</strong>!</p>
        <p class="text-center">Choose <a href="{{ path('generate-invoice') }}">create invoice</a>  from nav and have fun.</p>

    </div>

{% endblock %}