@import "../vars";

#invoice-template {
  width: $invoiceWidth;
  margin: 0 auto;
  color: $major-dark-blue;
  background: #FFFFFF;
  font-family: $pdf-font-family;
  font-size: 16px;

  @font-face {
    font-family: $pdf-font-family;
  }

  a {
    color: $dark-blue;
    text-decoration: none;
  }

  .logo {
    width: 100%;
  }

  .invoice-details {
    list-style-type: none;
    font-size: 0.8em;
    text-align: right;
  }

  .invoice-title {
    font-size: 1.7em;
    font-family: $custom-font-family;
  }

  .company-info {
    h5 {
      font-weight: bold;
      font-size: 0.9em;
      font-family: $custom-font-family;
    }

    p {
      line-height: 15px;
      font-size: 0.7em;
    }
  }

  .invoice-positions {
    width: 96%;

    .header {
      color: $white;
      background: #6E6E6E;

      th {
        font-size: 10px;
        height: 35px;
        text-align: center;
        line-height: 10px;
        padding: 0 5px;
        border: 1px solid $dark-blue;
      }
    }

    .position {
      color: $dark-blue;
      background: $light-grey;

      td {
        height: 20px;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        border: 1px solid $dark-blue;
        background: $document-position-color;

        &.clear {
          background: none;
          border: 1px solid $white;
        }

        &.last-clear {
          background: none;
          border: none;
          border-right: 1px solid $dark-blue;
        }

        &.summary-title {
          background: none;
        }
      }
    }
  }

  .payment-summary {
    p {
      margin: 0;
      font-size: 12px;
      padding: 5px;
      line-height: 15px;
      border-top: 1px solid $major-dark-blue;
      border-bottom: 1px solid $white;
    }
  }

  .footer {
    font-size: 0.8em;
    position: absolute;
    bottom: -50px;
    font-family: $custom-font-family;
  }

  @import "invoice-bootstrap";
}