@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500,900&subset=latin,latin-ext');
@import '~bootstrap/scss/bootstrap';
@import './modules/invoice-template';
@import './modules/navigation';
@import './modules/dashboard';
@import './modules/header';
@import './vars';

body {
  font-family: $font-family;
  background: $dark-blue;

  a {
    color: $light-blue;
  }

  .btn-red {
    background: $red;
    border: 2px solid $red;
    padding: 3px 20px;
    color: $white;
    border-radius: 25px;

    &:hover {
      background: none;
      border: 2px solid $red;
      color: $dark;
    }
  }

  .btn-red-outline {
    border: 2px solid $red;
    padding: 3px 20px;
    color: $dark;
    border-radius: 25px;

    &:hover {
      background: $red;
      color: $white;
    }
  }
}