@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500,900&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import '~bootstrap/scss/bootstrap';
@import './modules/auth';
@import './vars';

body {
  font-family: $font-family;
  background: $grey;

  a {
    color: $light-blue;
  }
}