<div class="container">
    <div class="row">
        <div class="col-12">
            <i class="fab fa-accusoft logo"></i>
        </div>
    </div>
    <div class="row items">
        <div class="col-12">
            <a href="#">
                <i class="far fa-plus-square"></i>
                <p>+ invoice</p>
            </a>
        </div>

        <div class="col-12">
            <a href="#">
                <i class="fas fa-file-invoice"></i>
                <p>Documents</p>
            </a>
        </div>

        <div class="col-12">
            <a href="#">
                <i class="fas fa-users" title="Documents"></i>
                <p>Contractors</p>
            </a>
        </div>

        <div class="col-12">
            <a href="#">
                <i class="fas fa-user-tie" title="Documents"></i>
                <p>Account</p>
            </a>
        </div>

        <div class="col-12 help">
            <a href="#">
                <i class="far fa-question-circle" title="Documents"></i>
            </a>
        </div>
    </div>
</div>